<footer class="br-footer">
    <div class="footer-left">
      <div class="mg-b-2">Copyright &copy; {{"now" | date('Y')}}. KTC-Center. All Rights Reserved, by <a href="www.kamer-center.net" target="_blank">KTC-Center</a></div>
    </div>
    <div class="footer-right d-flex align-items-center">
      <span class="tx-uppercase mg-r-10">Share:</span>
      <a target="_blank" class="pd-x-5" href="https://www.facebook.com/ktccenter"><i class="fab fa-facebook tx-20"></i></a>
      <a target="_blank" class="pd-x-5" href="https://twitter.com/ktccenter"><i class="fab fa-twitter tx-20"></i></a>
    </div>
</footer>

<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
 
  .footer {
    margin-top: auto;
  } 
</style>